/*
 Scott Caruso
 MiU 1206
 Project 3 CSS - master
 
 Use at least 12 css properties AND style at least 8 HTML tags.
 Your CSS must not cause display or interactivity errors. This means we don't want to see unnecessary horizontal scrolling where interface components are thrown off the screen, thrown out of proper alignment, or buttons become unclickable, etc. Make sure your CSS works properly.
*/

html{
    background: #E8E8E8;
    font-family: Tahoma, Geneva, sans-serif;
}

label.error{
    display: block;
    margin: 10px 0;
    color: red;
    font-weight: bold;
}

p{
    font-size: 11px;
}

h2.formtext {
    font-size: 16px;
}

h3 {
    font-size: 14px;
}

div.cta {
    text-align: center;
}

div.infoclasses {
    padding-top: 2px;
}

div.formfield {
    border: 0px;
}

div.search {
    padding-top: 15px;
}

form.search {
    margin-bottom: 25px;
}

span.magic {
    font-family: Tahoma, Geneva, sans-serif;
    color: #191970;
    font-weight: bold;
}

nav.addcard {
    border: 1px solid black;
    width: 145px;
    position: absolute;
    right: 5px;
    background: white;
}

/*The following 4 will chane the colors in the card listsfor each card.*/
dd.white {
    color: white;
    text-shadow: 1px 0 black
}

dd.blue {
    color: blue;
}

dd.red {
    color: red;
}

dd.green {
    color: green;
}

dd.gray {
    color: gray;
}

/*fieldset {
    margin-top: 15px;
    margin-bottom: 15px;
}*/

label.notes{
    vertical-align: top;
}
/* If I ever bring the footer back
footer {
    margin-top: 20px;
    word-spacing: 1px;
}
*/
div.formelement{
    padding-bottom: 15px;
}

dt.cardtitle{
	font-weight: bold;
}

dd{
	font-weight: normal;
}

span.displayData{
    position: absolute;
    right: 15px;
}

span.addCard{
    position: absolute;
    right: 15px;
}

div.errors{
	font-weight: bold;
	text-align: center;
}

a.deletecard{
	padding-left: 35px;
}